.root {
}

.webglcomponent {
  position: relative;
  width: 60vw;
  height: 90vh;
  border-radius: 24px;
  overflow: hidden;
  z-index: 10;
  background: #eee;
  border: 2px solid #000;
}

canvas {
    width: 100% !important;
    height: 100% !important;
    display: block;
    border-radius: inherit;
}
