.navbarBg {
    position: fixed;
    height: 100%;
    top: 0px;
    bottom: 0px;
    left: 0px;
    background-color: #272727;
    width: 327px;
}
.logoIcon {
    position: absolute;
    top: 28.87px;
    left: 12.25px;
    width: 273.1px;
    height: 167.4px;
    object-fit: cover;
}
.signIn {
    position: relative;
}
.signinbutton {
    position: fixed;
    bottom: 51px;
    left: 49.16px;
    border-radius: 4px;
    background-color: #f6f6e9;
    border: 2px solid #ccdfd1;
    box-sizing: border-box;
    width: 232.7px;
    height: 48px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 11px 61px;
}
.newDuck {
    align-self: stretch;
    position: relative;
}
.studyPlan {
    align-self: stretch;
    position: relative;
    text-align: center;
}
.newDuckParent {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    gap: 15px;
}
.links1 {
    position: absolute;
    top: 0px;
    left: 38px;
    width: 173px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}
.iconSettings {
    position: absolute;
    left: 47.16px;
    width: 25px;
    height: 25px;
    object-fit: cover;
    top: 215px;
}
.iconStudyplan {
    position: absolute;
    top: 75px;
    left: 44.36px;
    width: 34.9px;
    height: 26.2px;
    object-fit: cover;
}
.iconCourses {
    position: absolute;
    left: 15.07px;
    width: 31.8px;
    height: 34.3px;
    object-fit: cover;
    top: 5px;
}
.iconNewduck {
    position: absolute;
    top: 145px;
    left: 0px;
    width: 30.1px;
    height: 29px;
    object-fit: cover;
}
.icons {
    position: absolute;
    top: 4px;
    left: 0px;
    width: 79.2px;
    height: 261px;
}
.links {
    position: absolute;
    top: 218px;
    left: 80.25px;
    width: 211px;
    height: 209px;
    text-align: right;
    font-size: 36px;
    color: #fff;
}
.navbarcomponent {
    width: 100%;
    position: fixed;
    height: 1080px;
    text-align: center;
    font-size: 32px;
    color: #000;
    font-family: Tiny5;
    z-index: 9999;
}
